<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .header {
        height: 100px;
        background-color: black;
      }
    </style>
  </head>
  <body>
    <div class="header"></div>
    <label for="name">name:</label>
    <input type="text" /><br />
    <label for="email">email:</label>
    <input type="email" /><br />
    <label for="message">message:</label>
    <textarea></textarea><br />
    <button>send messaage</button>
  </body>
</html>
