<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      .header {
        height: 100px;
        background-color: black;
      }
    </style>
  </head>

  <body>
    <div class="header"></div>
    <h1>Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat nesciunt
      saepe assumenda at eligendi mollitia, voluptatibus repudiandae maxime
      labore, totam nam aliquam. Assumenda?
    </p>
  </body>
</html>
