<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signup form</title>
  </head>
  <body>
    <form method="post">
      {%csrf_token%} Username : <input type="text" name="username" /><br />
      Email : <input type="email" name="username" /><br />
      Password : <input type="password" name="username" /><br />
      <input type="submit" value="submit" />
    </form>
    {%if account_created %}
    <h1>Account is created successfully</h1>
    {%endif%}
    <div>
      <h2>All user</h2>
      {% if users %} {%for user in users %}
      <p>{{user.username}}</p>
      <a href="{%url'delete_user' user.id %}">delete</a>
      <a href="{%url'edit_user' user.id %}">edit</a>
    </div>
  </body>
</html>
