<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Food Name</th>
          <th>Price</th>
          <th>Size</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        {% for item in tasty_items %}
        <tr>
          <td>{{ item.foodname }}</td>
          <td>&#8377 {{ item.price }}</td>
          <td>{{ item.size }}</td>
          <td>
            <img src="{% static item.image %}" height="90px" width="90px" />
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
