<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test template</title>
    <style>
      .container {
        margin: auto;
        max-width: 700px;
        min-width: 500px;
        background-color: aquamarine;
        border-radius: 10px;
        text-align: justify;
        padding: 12px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 contenteditable="true">this is my first template</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit error
        dolor architecto, et, impedit totam eligendi, quo atque cum dolorem
        distinctio similique. Sed facilis quisquam doloremque voluptatibus quia
        et laboriosam explicabo sit ab expedita? Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Numquam, quod praesentium. Porro modi,
        inventore in beatae nihil similique perferendis voluptas officiis ad
        dolorem obcaecati fugiat nulla sint sunt exercitationem eum nemo
        quaerat. Error at quidem aperiam numquam. Odit officia facere animi quae
        magnam numquam quaerat expedita consequatur dolore mollitia. Qui fuga
        voluptatem deserunt, libero a omnis veniam repudiandae autem, minima
        dolores, eaque ab? Natus optio, debitis id sapiente corrupti atque
        cumque hic nisi? Ipsum, repellat. Rerum ab provident hic iure architecto
        consequuntur laudantium cupiditate cum quis. Corrupti aperiam quo
        delectus voluptatem, nulla natus aliquid soluta mollitia ipsam dicta
        inventore provident a veniam, veritatis nemo minima totam dignissimos
        placeat hic aut, eius quaerat. Porro dignissimos consequuntur,
        quibusdam, explicabo veritatis libero eos debitis alias ipsum mollitia
        adipisci commodi rerum distinctio possimus tempora ducimus consequatur
        nobis deserunt. Praesentium, labore nulla est nobis itaque quae eligendi
        temporibus alias illum numquam ducimus quisquam voluptatibus suscipit
        facilis consequuntur laborum atque pariatur dolor quia dolores
        consectetur ratione blanditiis architecto sunt. Id molestiae harum porro
        accusantium corporis vero tempora qui incidunt, consequatur hic dolorem
        eos assumenda quam reprehenderit dolores eius sunt a sit aperiam aut
        nobis magnam minima suscipit mollitia? Iste sed esse assumenda. Ad
        soluta ipsa quisquam dolore ullam aut eum, fugiat commodi labore hic
        voluptates rerum error aperiam et nisi debitis nihil illum sed. Corrupti
        fugit tempora in et, est facilis id sed eveniet quia asperiores
        repellendus, eum itaque dolorum dignissimos! Fuga eos aperiam, dicta
        cumque voluptatibus optio, asperiores nulla itaque repellendus explicabo
        hic harum alias blanditiis? Deleniti consectetur dolorem, nobis sequi at
        expedita eligendi? Enim minima magni reiciendis ab placeat, error est
        animi corporis quis quod fuga? Voluptatum, nobis blanditiis mollitia
        dicta reiciendis delectus non quo illo quisquam, laboriosam accusamus
        animi laborum in labore quis repellendus aut, voluptas quibusdam. At
        harum aperiam esse repellendus, quaerat, atque illo aliquam similique
        mollitia libero ad dolorem ipsa facere inventore corporis dolores
        accusantium, quam odio a saepe delectus officiis eaque excepturi.
        Doloremque, pariatur. Obcaecati laudantium et corrupti quisquam nihil
        cupiditate recusandae, iusto explicabo ad provident fugit pariatur amet
        velit consectetur perferendis unde?
      </p>
    </div>
  </body>
</html>
