<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Externa css</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <p>
        aperiam modi rem deleniti deserunt fuga. Perferendis libero quo, unde in
        quasi facere quisquam vitae porro vel tempora id modi nemo illum
        doloremque excepturi dicta enim deleniti rem maiores, accusantium nihil
        eius dolore voluptas. Dolor nostrum perspiciatis saepe inventore
        voluptas libero voluptatibus alias distinctio ratione quasi, nisi
        mollitia, quae quibusdam facilis! Doloremque iste placeat neque dolorem
        error, reprehenderit expedita soluta ex ut veniam aperiam eaque
        voluptates dolorum quidem eum sed facere tempora qui, provident incidunt
        quos fuga tenetur. Sunt, possimus quia esse quidem ratione inventore sed
        aliquid modi officia aspernatur cupiditate placeat illum, nesciunt culpa
        libero velit. Cum, quae.
      </p>
      <img src="{% static 'img/boy.png' %}" height="200px" width="200px" />
    </div>
  </body>
</html>
