<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h2>Updating User {{user.username}}</h2>
    </div>
    <form method="post">
      {%csrf_token%} Username :
      <input type="text" value="{{user.username}}" name="username" /><br />
      Email :
      <input type="email" value="{{user.email}}" name="username" /><br />
      Password :
      <input type="password" value="{{user.password}}" name="username" /><br />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
