<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Details</title>
  </head>
  <body>
    {% for item in yummy_items %} {% if single_yummy_item == item.foodname %}
    {%if item.price >= 50 %}
    <h1 style="background-color: red">
      Name: {{ item.foodname }} Price: {{ item.price }} Size: {{ item.size }}
    </h1>
    {% else %}
    <h1>
      Name: {{ item.foodname }} Price: {{ item.price }} Size: {{ item.size }}
    </h1>
    {% endif %} {% endfor %}
  </body>
</html>
