* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

.container {
  border: 2px solid pink;
  max-width: 500px;
  min-width: 300px;
  padding: 24px;
  text-align: center;
}
